[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = "*"
pandas = "*"
google-cloud-storage = "*"
tensorflow-hub = "*"
python-multipart = "*"
tensorflow = "==2.13.1"
google-cloud-aiplatform = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
